
h1 {   text-align: center;
	line-height: 1.5; 
	font-size: 70px;
	 font-style: italic; 
		color: transparent; /* Make text initially transparent */
		background-clip: text; /* Clip background to text shape */
		-webkit-background-clip: text; /* For WebKit browsers */
		animation: colorChange 5s infinite linear; /* Animation details */
	}
	
	@keyframes colorChange {
		0% { background-color: rgb(255, 0, 0); }  /* Red */
		25% { background-color: rgb(0, 255, 0); }  /* Green */
		50% { background-color: rgb(0, 0, 255); }  /* Blue */
		75% { background-color: rgb(255, 128, 0); } /* Orange */
		100% { background-color: rgb(255, 0, 0); }  /* Back to red */
	}
	
	
h2 { text-align: center;
    font-size: 25x;
	font-style: italic;
    color: #ffffff;
}


body {	
	background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #21D4FD 75%);
}



html {
	margin: 0;
	font-family: 'Muli', sans-serif;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}
 
#container {
	background-color: #FFF;
	margin: 80px 10%;
	padding: 30px 60px;
	border-radius: 20px;
	box-shadow: 0 3px 26px 0 rgba(0,0,0,0.20);
}

main,header {
	box-sizing: border-box;
}

main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	color: #6b6b6b;
	margin: 40px 0;

}







.Btn {
	width: 120px;
	height: 45px;
	background-color: rgb(65, 64, 64);
	border: none;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
	position: relative;
	overflow: hidden;
	transition-duration: .5s;
  }
  
  .text {
	color: rgb(184, 236, 104);
	font-weight: 800;
	letter-spacing: 1.1px;
	z-index: 2;
  }
  
  .svgIcon {
	z-index: 2;
  }
  
  .svgIcon path {
	fill: rgb(184, 236, 104);
  }
  
  .Btn:hover {
	color: rgb(230, 255, 193);
  }
  
  .effect {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(184, 236, 104);
	border-radius: 50%;
	z-index: 1;
	opacity: 0;
	transition-duration: .5s;
  }
  
  .Btn:hover .effect {
	transform: scale(15);
	transform-origin: center;
	opacity: 1;
	transition-duration: .5s;
  }
  
  .Btn:hover {
	box-shadow: 0px 0px 5px rgb(184, 236, 104),
	0px 0px 10px rgb(184, 236, 104),
	0px 0px 30px rgb(184, 236, 104);
	transition-duration: .7s;
  }
  
  .Btn:hover .text {
	color: rgb(65, 64, 64);
  }
  
  .Btn:hover .svgIcon path {
	fill: rgb(65, 64, 64);
  }
